streamlit
pandas
numpy
seaborn
matplotlib
statsmodels
scikit-learn
xgboost
lightgbm
tabulate
langchain
langchain-nvidia-ai-endpoints
langchain-community
langchain-openai
python-dotenv
rapidfuzz
openpyxl
plotly
