streamlit
pandas
numpy
seaborn
matplotlib
statsmodels
scikit-learn
xgboost
lightgbm
tabulate
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-nvidia-ai-endpoints
langchain-openai
python-dotenv
rapidfuzz
openpyxl
plotly
